@import url('~antd/lib/style/themes/default.less');
/*
* change these values according to requirement of project
*/
@primary-color: #4d186e;
@primary-hover: #3E1358;
@blue-base: #4d186e;



//font-weights

@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;
